<footer class="footer content">
  <div class="layout">
    <div class="grid">
      <div class="col">
        <img class="logo" src="/public/images/logo.svg" alt="Logo" />
        <div class="sub">
          Luxury dating, life style, earn and share wonderful moments.
        </div>
      </div>
      <div class="col">
        <div class="title">Menu links</div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="title">Legal / Social</div>
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">info@sugar-list.de</a></li>
        </ul>
        <div class="social-links">
          <div class="link">
            <img src="/public/images/facebook.svg" alt="Facebook" />
          </div>
          <div class="link">
            <img src="/public/images/instagram.svg" alt="Instagram" />
          </div>
          <div class="link">
            <img src="/public/images/youtube.svg" alt="YouTube" />
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      © <span id="year"></span> Sugar List - Powered by Enumeration Technologies
      Pvt. Ltd
    </div>
  </div>
</footer>
