<header>
  <nav class="layout">
    <a class="logo" href="/">
      <img src="/public/images/logo.svg" alt="Logo" />
    </a>

    <!-- <div class="menu-overlay"></div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div> -->
    <!-- 
    <div class="menu">
      <div class="close-menu">+</div>

      <button class="btn btn-primary onlyMedium" onclick="toLogin()">
        Register
      </button>
    </div> -->
    <button class="btn btn-primary" onclick="toRegister()">Join Now</button>
  </nav>
</header>
